<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            Welcome to my website! This is the space I use to list ongoing
            <em>projects</em>, <em>collaborations</em>, advertise <em>upcoming
            positions</em>, and more generally discuss random topics relating to
            <em>infectious disease outbreaks</em>, <em>statistics</em>,
            and <em>R geekeries</em>.
        </p>
    </div>
</div> <!-- / section -->
